doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name = "description" content = "Sign the petition to the North Carolina General Assembly demanding: NO DATA CENTERS IN NORTH CAROLINA! ")      
    meta(name = "author" content = "Party for Socialism and Liberation")
    title No Data Centers in North Carolina
    link(rel="icon" type="image/png" href="/assets/favicon.png")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.css" integrity="sha512-UiKdzM5DL+I+2YFxK+7TDedVyVm7HMp/bN85NeWMJNYortoll+Nd6PU9ZDrZiaOsdarOyk9egQm6LOJZi36L2g==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(href='dist/CSS/main.css', rel='stylesheet', type='text/css')
  body
    header 
      #background-image
      #overlay
      img.logo#psl(src="/assets/logo.png")
      img.logo#campaign(src="/assets/campaign-logo.png")
      #text 
        p 
          i Petition to the North Carolina General Assembly:  
        h1 
          | No Data Centers
          br
          | in North Carolina!
        h1.small-screen
          | No Data 
          br 
          | Centers 
          br 
          | in NC!
        .buttons
          a.button(href="#sign") Sign the Petition
          a.button(href="#endorse") Endorse as Organization / Elected Official
      #petition.body 
        h2 Demands
        p 
          | North Carolina is experiencing the most severe drought we’ve seen in decades. Residents are suffering through an extreme cost-of-living crisis, yet utility monopolies like Duke Energy and Carolina Water are only increasing our rates further. At the same time, multi-billion dollar tech corporations are building hundreds of data centers across the state that will pollute our environment, use millions of gallons of water, and raise our utility bills even further. The people of North Carolina say: ENOUGH! We won’t shoulder the bill for billionaire greed! 
          br
          br
          | All across the state, people have been fighting back and winning local moratoriums—from Charlotte to Durham to Boone. These are important victories, but we need our state government to do more to stop the reckless expansion of data centers in our communities. 
          br 
          br
          | We, the undersigned residents of North Carolina, demand that the NC General Assembly: 
        ol 
          li Repeal the state’s tax incentives for data centers
          li Stop Duke Energy from raising rates by 18% to pay for more data centers
          li Pass a statewide ban to stop building new data centers
      #sign.body 
        h2 Sign the Petition 
        p.subtitle 
        include sign.pug
        p 
          i Contact information will be used to send updates about upcoming meetings and ways to take action. 
      #endorse.body
        h2 Endorse as an Organization / Elected Official
        include org-sign.pug
      .body 
        h2 Resource Downloads 
        p Download posters, signs, buttons, and outreach materials to use to spread the word and build the movement in your community! 
      #toolkit
        -
          const toolkit = [
            {
              name: '11 x 17" Poster',
              filename: '11x17 poster.png',
              url: 'https://drive.google.com/file/d/1eaqcnlirOsjkaFlWwYmpP811YGOMo9KI/view?usp=drive_link'
            },
            {
              name: '8.5x11" Poster',
              filename: '8.5x11 poster.png',
              url: 'https://drive.google.com/file/d/1xHAtH7H_fUxJciKoxoIECWlqlqSOOLQw/view?usp=drive_link'
            },
            {
              name: 'Outreach Half Sheets',
              filename: 'outreach-flyer.png',
              url: 'https://drive.google.com/file/d/12vyqP3fpZkEv9a37FTbLJHHEbjMxSjdO/view?usp=drive_link'
            },
            {
              name: '11 x 8.5" Signs',
              filename: 'signs.png',
              url: 'https://drive.google.com/file/d/1dEyXGIvlDDHTs061M_5oXNGfzTbFsdVE/view?usp=drive_link'
            },
            {
              name: '2 x 2" Buttons',
              filename: 'button.png',
              url: 'https://drive.google.com/file/d/1DUjoicjbIFVHNmvkRKicRva5W3Rpe4gS/view?usp=drive_link'
            }
          ]

        each file in toolkit
          div.card
            .card-image
              img(src="/assets/toolkit/" + file.filename)
            .card-content
              h3= file.name
              a.button(href=file.url target="_blank") Download
      br
      br
      br

    script(src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.js" integrity="sha512-MnKz2SbnWiXJ/e0lSfSzjaz9JjJXQNb2iykcZkEY2WOzgJIWVqJBFIIPidlCjak0iTH2bt2u1fHQ4pvKvBYy6Q==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(src = "/dist/main.js")
